{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'mysite/CSS/style.css' %}" />

<!DOCTYPE html>
<html >
	<head>
		<meta charset="utf-8"></meta>

		<title>Street Workout</title>

  </head>
  <body>
    {% load staticfiles %}
    <div class="tmeplatemo-container">
        <div class="templatemo-header-01">
          <div style="margin-left: 20px; padding-top: 10px;" ><img src="../static/mysite/images/2.png" width="140" height="130" ></div>
        </div>
        <ul class="main-menu">
            <li ><a href="/">Главная</a></li>
          <li class="active"><a href="/calc/">Калькулятор</a></li>
          <li class="active"><a href="/quadro/">Квадратики</a></li>
          <li class="active"><a  href="/date/">Дата</a></li>
          <li class="active"><a href="/about/" >О нас</a></li>
        </ul>
        <div class="tmeplatemo-content">
            {% block content %}

            {% endblock %}
        </div>
        <div class="templatemo-footer" >
          <div class="all-rights">Ⓒ 2011-2016 Street Workout. All rights reserved.</div>
        </div>
    </div>
  </body>
</html>