{% extends "base.html" %}

{% block content %}
{% load staticfiles %}
<script src= "{% static 'mysite/JS/JavaS.js' %}"> </script>

    <p>Вычислить количество калорий, зная количество жиров, белков и углеродов. Калории в белках, жирах и углеводах составляют (Белки-4.7 Ккал, Жиры-9.2 Ккал, Углеводы-5.1 Ккал)</p>
    <div id="myCalculate">
        <form >
          <p><b>Белки: </b><input id="belki-input" type="number" step="0.1">   г.
          </p>
          <p>
            <b>Жиры:</b>
            <input id="zhiry-input" type="number" step="0.1">  г.
          </p>
          <p>
            <b>Углеводы:</b>
            <input id="ugl-input" type="number" step="0.1"> г.
          </p>
          <input id="submit-button"  type="submit" value="Вычислить" onclick="return calculate();">
            <input type="reset" value="Очистить" />
        </form>
        <p><b>Результат:</b> <span id="kalorii">0</span Ккал  ></p>
    </div>

{% endblock %}