{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}


    <script src="{% static 'mysite/JS/JavaS.js' %}"></script>

   <body onload="date()">
    <div class="data" >
        <div class="days" id="monday">Понедельник</div>
        <div class="days" id="tuesday">Вторник</div>
        <div class="days" id="wednesday">Среда</div>
        <div class="days" id="thursday">Четверг</div>
        <div class="days" id="friday">Пятница</div>
        <div class="days" id="saturday">Суббота</div>
        <div class="days" id="sunday">Воскресенье</div>
        <div  id="today"></div>
    </div>
   </body>
{% endblock %}