{% extends 'base.html' %}

{% block content %}
    {% load staticfiles %}
    <script src= "{% static 'mysite/JS/JavaS.js' %}"> </script>

    <div class="scrollup"><a href=""> <img src="../static/mysite/images/go_up.png" width="40" height="40";> </a></div>

    <div id="but"> <img src="../static/mysite/images/321.jpg"  width="50" height="222" onmousemove="form();" ></div>

      <form id="myForm">
        <fieldset>
          <h5>Представьтесь,
          пожалуйста</h5>
            <input id="myName" required="das" type="text" placeholder="Ваше Имя*"/>
          <input required="" type="email" id="email" placeholder="Ваш email*"/>
            <textarea id="mail" placeholder="Ваше сообщение*"></textarea>
          <input   type="submit" value="Отправить" onclick="return output();"/>
        </fieldset>
      </form>
    <h3>STREET WORKOUT</h3>
    <div style="opacity: 1;"><img src="http://naklejki-na-avto.ru/images/product/l/151128c44.png" class="logo" ></div>
        <p align="justify">
          В переводе с английского, workout — тренировка. Обычная: зал, гантели, тренажеры. Однако в России слово workout приобрело популярность благодаря двум близким по значению понятиям — street workout и ghetto workout. И то, и другое можно перевести как «тренировка на улице»: турники, брусья, упражнения с собственным весом... Со временем приставки отпали, и сегодня воркаутом называют по сути весь дворовый фитнес. Именно ему и посвящен данный раздел, созданый совместно с молодежно-спортивной организацией Street Workout. Видео, тренировки с собственным весом, профайлы участников street/ghetto workout-сообщества — все это ты найдешь тут.
        </p>
    <div style="padding-top: 15px;">
        <h3>Установка площадок</h3><img src="../static/mysite/images/5.jpg" class="logo">
    </div>
    <p align="justify">
        Компания Workout.Pro занимается производством и установкой специализированных площадок для занятий Street Workout
        Наша задача не просто построить спортивную площадку,  а наполнить её людьми и сделать всё для того, чтобы на ней проводились регулярные тренировки. Начиная с 2010 года нашей организацией уже установлено более 1800 специализированных площадок
    </p>
    <div class="button_01" ><a href="#">Подронее</a></div>
    <div style="padding-top: 15px;">
      <h3>«Счастливый НЕкурящий»</h3><img src="../static/mysite/images/4.jpg" class="logo">
    </div>
    <p align="justify">
        Ежегодно активистами Международной организации Street Workout проводиться акция &laquo;Счастливый НЕкурящий&raquo; на которой участники меняют пачку сигарет на фрукты или другой символический подарок.  Изюминкой данной акции является показательные выступления по Street Workout, а также и другим спортивным направлениям.
    </p>
    <div class="button_01" ><a href="#">Подробнее</a></div>
    <div style="padding-top: 15px;">
        <h3>ВОРКАУТЕР КРИС ЛУЭРА: «СИЛА — МОЯ ГЛАВНАЯ ЦЕЛЬ»</h3><img src="../static/mysite/images/1.jpg" class="logo" >
    </div>
    <p>
        Все свое детство я играл в бейсбол.</b> Я вырос в семье поклонников бейсбола: мой брат, мои двоюродные браться — все играли. Мой двоюродный брат даже собирался вступить в высшую лигу, но потом у него родился ребенок, поэтому ничего не вышло, он нашел себе более стабильную работу.
    </p>
    <div class="button_01" ><a href="#">Подробнее</a></div>
{% endblock %}