{% extends 'base.html' %}

{% block content %}
{% load staticfiles %}
<script src="{% static 'mysite/JS/JavaS.js' %}"></script>


<div id="quadra_conteiner">
			<div id="q1" class="quadra" onclick="get_color(this.id)"></div>
			<div id="q2" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q3" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q4" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q5" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q6" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q7" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q8" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q9" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q10" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q11" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q12" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q13" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q14" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q15" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q16" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q17" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q19" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q18" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q20" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q21" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q22" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q23" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q24" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q25" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q26" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q27" class="quadra"onclick="get_color(this.id)"></div>
			<div id="q29" class="quadra"onclick="get_color(this.id)"></div>
            <div id="q30" class="quadra"onclick="get_color(this.id)"></div>
            <div id="q31" class="quadra"onclick="get_color(this.id)"></div>


		</div>
{% endblock %}