    body {
        margin: 0;
        padding: 0;
        line-height: 1.5em;
        font-family: sans-serif;
        font-size: 16px;
        color: #6bfbe8;
        background: #141212 url(../static/mysite/images/templatemo_main_bg.jpg) repeat;
      }

      h3{
        color:#f5cc2c;
      }

      p{
        text-indent: 20px;
      }

      .main-menu{
        padding: 5px;
        margin-top: 40px;
        height: 40px;
        background: #4a483f;
      }

      .main-menu a {
        display: block;
        margin-left: -1px;
        padding: 8px 10px;
      }

      .main-menu li {
        display: inline-block;
        margin-right: -4px;
        margin-left: 55px;
        position:relative;
      }

      .main-menu li a{
        color: #f5cc2c;
        display: block;
        background:#342e2e;
        text-decoration: none;
        height: 29px;
        font-size: 25px;
        border-radius:2px;
      }

      .main-menu li a:hover{
        text-decoration: underline;
        color:#f5cc2c;
      }

      .main-menu ul{
        list-style:none;
        position:absolute;
        display: none;
        opacity:0;
      }

      .tmeplatemo-container {
        width: 980px;
        margin-left:  auto;
        margin-right: auto;
        background: #4a483f;
    	}

      .templatemo-header-01 {
        clear: both;
        width: 980px;
        height: 220px;
        background:url(../static/mysite/images/templatemo_header_bg.jpg) no-repeat;
      }

      .tmeplatemo-content {
        clear: both;
        width: 880px;
        padding: 10px 50px;
        background: #4a483f;
      }

      .templatemo-footer {
        width: 880px;
        padding: 80px 50px 0px 50px ;
        margin:  auto;
        background: #332e2e url(../static/mysite/images/templatemo_footer_bg.jpg) no-repeat;
        min-height: 30px;
        text-align: center;
      }

      .templatemo_footer a {
        color: #f6d229;
      }

      .logo{
        width: 200px;
        height: 120px;
        float: left;
        padding-top: 6px;
        margin-bottom: 10px;
        margin-right: 20px;
      }

      .all-rights {
        color: #878ea0;
        text-align: center;
        padding-top: 15px;
        margin: 0 auto;
        bottom: 15px;
        position: relative;
        text-transform: uppercase;
      }

      .disabled{
        font-size: 25px;
        color: #f5cc2c;
        background: #4a483f;
      }
