    body {
        margin: 0;
        padding: 0;
        line-height: 1.5em;
        font-family: sans-serif;
        font-size: 16px;
        color: #6bfbe8;
        background: #141212 url(../images/templatemo_main_bg.jpg) repeat;
    }


    h3{
        color:#f5cc2c;
    }


    p{
        text-indent: 20px;
    }


    .main-menu{
        padding: 5px;
        margin-top: 40px;
        height: 40px;
        background: #4a483f;
    }

    .main-menu a {
        display: block;
        margin-left: -1px;
        padding: 8px 10px;
    }

    .main-menu li {
        display: inline-block;
        margin-right: -4px;
        margin-left: 55px;
        position:relative;
    }

    li.active{
        color: red;
    }

    .main-menu li a{
        color: #f5cc2c;
        display: block;
        background:#342e2e;
        text-decoration: none;
        height: 29px;
        font-size: 25px;
        border-radius:2px;
    }

    .main-menu li a:hover{
        text-decoration: underline;
        color:#f5cc2c;
    }

    .main-menu ul{
        list-style:none;
        position:absolute;
        display: none;
        opacity:0;
    }

    .tmeplatemo-container {
        width: 980px;
        margin-left:  auto;
        margin-right: auto;
        background: #4a483f;
    }

    .templatemo-header-01 {
        clear: both;
        width: 980px;
        height: 220px;
        background:url(../images/templatemo_header_bg.jpg) no-repeat;
    }

    .tmeplatemo-content {
        clear: both;
        width: 880px;
        padding: 10px 50px;
        background: #4a483f;
    }

    .templatemo-footer {
        width: 880px;
        padding: 80px 50px 0px 50px ;
        margin:  auto;
        background: #332e2e url(../images/templatemo_footer_bg.jpg) no-repeat;
        min-height: 30px;
        text-align: center;
    }

    .templatemo_footer a {
        color: #f6d229;
    }

    .button_01 a {
        display: block;
        width: 100px;
        height: 21px;
        background: url(../images/templatemo_button_01.jpg) no-repeat;
        color: black;
        font-size: 13px;
        text-align: center;
        text-decoration: none;
        margin-top: 60px;
    }

    .logo{
        width: 200px;
        height: 120px;
        float: left;
        padding-top: 6px;
        margin-bottom: 10px;
        margin-right: 20px;
    }

    .all-rights {
        color: #878ea0;
        text-align: center;
        padding-top: 15px;
        margin: 0 auto;
        bottom: 15px;
        position: relative;
        text-transform: uppercase;
    }

    .scrollup{
        width:40px;
        height:40px;
        opacity:0.8;
        position:fixed;
        bottom: 50px;
        left:55px;
        background: url(../images/go_up.png) no-repeat;
    }


    #myForm{
        display: none;
        position: fixed;
        background: #342e2e;
        border-radius :8px;
        margin: 0 auto;
        overflow: hidden;
        text-align: left;
        width: 100%;
        max-width: 200px;
        top: 50%;
        right: 54px
    }


    #myForm h5 {
        font-family: Monotype Corsiva;
        font-size: 20px;
        color: #f5cc2c  ;
        text-align: center;
        margin: 10px 26px;
        padding: 0 5px 10px 0
    }


    #myForm fieldset{
        padding-left:  0px;
        border:none;
        display:inline;
        margin-left:15px;
    }

    #mail{
        display: block;
        width: 169px;
        height: 50px;
    }

    #but{
        position:fixed;
        top: 50%;
        right: 0px;
    }

    .disabled{
        font-size: 25px;
        color: #f5cc2c;
        background: #4a483f;
    }

    #myCalculate{
        display: block;
        width: 300px;
        height: 210px;
        border: solid;
        border-color: #f5ce1f ;
        padding-left: 20px;
        padding-top: 5px;
        margin-left: 33%;
    }

    #belki-input{
        width: 50px;
    }

    #zhiry-input{
        width: 50px;
    }

    #ugl-input{
        width: 50px;
    }

    .days{
        width: 400px;
        height:80px;
        padding-top: 20px;
        background-color: #342e2e;
        display: inline-block;
        text-align: center;
        font-size: 35px;
        color: #6bfbe8;
        border: solid  #878ea0 3px;
        margin-top: 5px;
    }

    .data{
        margin-left: 30px;
    }

    #sunday{
        margin-left: 200px;
    }

    #today{
       display: block;
        width: 800px;
        height: 60px;
        background-color:#342e2e ;
        text-align: center;
        font-size: 35px;
        color: #6bfbe8;
        border: solid  #878ea0 3px;
        margin-top: 5px;
        padding-top: 20px;
    }

    .quadra{
        width: 80px;
        height: 80px;
        background: white;
        display: inline-block;
        margin: 20px;
        border: solid black 2px;
    }

    #quadra_conteiner{
        margin-top: 20px;
        margin-left: 55px;
    }

